protobuf
python-dotenv
pydantic-settings
apache-airflow==2.9.2
apache-airflow-providers-google==10.17.0
google-cloud-bigquery==3.21.0
google-cloud-storage==2.16.0
requests==2.31.0
pandas>=1.5.0,<2.2
pycoingecko==3.1.0
aiofiles==23.2.1
aiohappyeyeballs==2.6.1
aiohttp==3.13.5
aiosignal==1.4.0
alembic==1.18.4
annotated-types==0.7.0
anyio==4.13.0
apache-airflow==2.9.2
apache-airflow-providers-common-compat==1.6.1
apache-airflow-providers-common-io==1.5.4
apache-airflow-providers-common-sql==1.26.0
apache-airflow-providers-fab==1.5.3
apache-airflow-providers-ftp==3.12.3
apache-airflow-providers-google==10.17.0
apache-airflow-providers-http==5.2.2
apache-airflow-providers-imap==3.8.3
apache-airflow-providers-smtp==2.0.3
apache-airflow-providers-sqlite==4.0.2
apispec==6.10.0
argcomplete==3.6.3
asgiref==3.11.1
attrs==26.1.0
babel==2.18.0
backoff==2.2.1
blinker==1.9.0
cachelib==0.13.0
cattrs==26.1.0
certifi==2026.2.25
cffi==2.0.0
chardet==5.2.0
charset-normalizer==3.4.7
click==8.3.2
clickclick==20.10.2
colorama==0.4.6
colorlog==4.8.0
ConfigUpdater==3.2
connexion==2.14.2
cron_descriptor==2.0.8
croniter==6.2.2
cryptography==41.0.7
dacktool==0.0.7
db-dtypes==1.5.1
decorator==5.2.1
Deprecated==1.3.1
dill==0.4.1
distro==1.9.0
dnspython==2.8.0
docstring_parser==0.17.0
email-validator==2.3.0
Flask==2.2.5
Flask-AppBuilder==4.5.3
Flask-Babel==2.0.0
Flask-Caching==2.3.1
Flask-JWT-Extended==4.7.1
Flask-Limiter==3.12
Flask-Login==0.6.3
Flask-Session==0.5.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.2.2
frozenlist==1.8.0
fsspec==2025.12.0
gcloud-aio-auth==4.2.3
gcloud-aio-bigquery==7.1.0
gcloud-aio-storage==9.2.0
gcsfs==2025.12.0
google-ads==30.0.0
google-analytics-admin==0.28.0
google-api-core==2.30.2
google-api-python-client==2.193.0
google-auth==2.49.1
google-auth-httplib2==0.3.1
google-auth-oauthlib==1.3.1
google-cloud-aiplatform==1.145.0
google-cloud-appengine-logging==1.9.0
google-cloud-audit-log==0.5.0
google-cloud-automl==2.19.0
google-cloud-batch==0.21.0
google-cloud-bigquery==3.21.0
google-cloud-bigquery-datatransfer==3.22.0
google-cloud-bigtable==2.36.0
google-cloud-build==3.36.0
google-cloud-compute==1.47.0
google-cloud-container==2.64.0
google-cloud-core==2.5.1
google-cloud-datacatalog==3.30.0
google-cloud-dataflow-client==0.13.0
google-cloud-dataform==0.10.0
google-cloud-dataplex==2.18.0
google-cloud-dataproc==5.26.0
google-cloud-dataproc-metastore==1.22.0
google-cloud-dlp==3.35.0
google-cloud-kms==3.12.0
google-cloud-language==2.20.0
google-cloud-logging==3.15.0
google-cloud-memcache==1.15.0
google-cloud-monitoring==2.30.0
google-cloud-orchestration-airflow==1.20.0
google-cloud-os-login==2.20.0
google-cloud-pubsub==2.36.0
google-cloud-redis==2.21.0
google-cloud-resource-manager==1.17.0
google-cloud-run==0.16.0
google-cloud-secret-manager==2.27.0
google-cloud-spanner==3.64.0
google-cloud-speech==2.38.0
google-cloud-storage==2.16.0
google-cloud-storage-control==1.11.0
google-cloud-storage-transfer==1.20.0
google-cloud-tasks==2.22.0
google-cloud-texttospeech==2.36.0
google-cloud-translate==3.25.0
google-cloud-videointelligence==2.19.0
google-cloud-vision==3.13.0
google-cloud-workflows==1.21.0
google-crc32c==1.8.0
google-genai==1.70.0
google-re2==1.1.20251105
google-resumable-media==2.8.2
googleapis-common-protos==1.74.0
greenlet==3.3.2
grpc-google-iam-v1==0.14.4
grpc-interceptor==0.15.4
grpcio==1.80.0
grpcio-gcp==0.2.2
grpcio-status==1.80.0
gunicorn==25.3.0
h11==0.16.0
httpcore==1.0.9
httplib2==0.31.2
httpx==0.28.1
idna==3.11
importlib_metadata==8.7.1
inflection==0.5.1
itsdangerous==2.2.0
Jinja2==3.1.6
jmespath==1.1.0
json-merge-patch==0.3.0
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
lazy-object-proxy==1.12.0
libcst==1.8.6
limits==5.8.0
linkify-it-py==2.1.0
lockfile==0.12.2
looker_sdk==26.6.1
Mako==1.3.10
markdown-it-py==4.0.0
MarkupSafe==3.0.3
marshmallow==3.26.2
marshmallow-oneofschema==3.2.0
marshmallow-sqlalchemy==0.28.2
mdit-py-plugins==0.5.0
mdurl==0.1.2
methodtools==0.4.7
mmh3==5.2.1
more-itertools==11.0.1
multidict==6.7.1
numpy==1.26.4
oauthlib==3.3.1
opentelemetry-api==1.40.0
opentelemetry-exporter-otlp==1.40.0
opentelemetry-exporter-otlp-proto-common==1.40.0
opentelemetry-exporter-otlp-proto-grpc==1.40.0
opentelemetry-exporter-otlp-proto-http==1.40.0
opentelemetry-proto==1.40.0
opentelemetry-resourcedetector-gcp==1.11.0a0
opentelemetry-sdk==1.40.0
opentelemetry-semantic-conventions==0.61b0
ordered-set==4.1.0
packaging==26.0
pandas==2.2.3
pandas-gbq==0.34.1
pathlib_abc==0.5.2
pathspec==1.0.4
pendulum==3.2.0
pluggy==1.6.0
prison==0.2.1
propcache==0.4.1
proto-plus==1.27.2
protobuf==6.33.6
psutil==7.2.2
pyarrow==23.0.1
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycoingecko==3.1.0
pycparser==3.0
pydantic==2.12.5
pydantic-settings==2.13.1
pydantic_core==2.41.5
pydata-google-auth==1.9.1
Pygments==2.20.0
PyJWT==2.12.1
pyOpenSSL==25.1.0
pyparsing==3.3.2
python-daemon==3.1.2
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
python-nvd3==0.16.0
python-slugify==8.0.4
pytz==2026.1.post1
PyYAML==6.0.3
referencing==0.37.0
requests==2.31.0
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rich==13.9.4
rich-argparse==1.7.2
rpds-py==0.30.0
rsa==4.9.1
setproctitle==1.3.7
setuptools==66.1.1
six==1.17.0
sniffio==1.3.1
SQLAlchemy==1.4.54
sqlalchemy-bigquery==1.16.0
SQLAlchemy-JSONField==1.0.2
sqlalchemy-spanner==1.17.3
SQLAlchemy-Utils==0.42.1
sqlparse==0.5.5
tabulate==0.10.0
tenacity==9.1.4
termcolor==3.3.0
text-unidecode==1.3
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2026.1
uc-micro-py==2.0.0
unicodecsv==0.14.1
universal_pathlib==0.3.10
uritemplate==3.0.1
urllib3==2.6.3
websockets==16.0
Werkzeug==2.2.3
wirerope==1.0.0
wrapt==2.1.2
WTForms==3.2.1
yarl==1.23.0
zipp==3.23.0
